.banner {
  padding-bottom: 10px;
  font-size: 30pt;
  background-color: #0f4d67;
  color: #b5a265;
}

input {
  font-size: 12px;
}

h1 {
  color: #b5a265;
  font-size: 22px;
  margin: auto;
  text-align: center;
}
